<div ng-include="'templates/navbar.html'"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<h4>Rooms</h4>
			<form ng-submit='joinRoom(newRoom)' class="form-inline">
				<input style="width: 100%;" placeholder='Create room' ng-model='newRoom' class="form-control"/>
			</form>
			<div id="roomsBox" class="overflowable">
				<div class="roomsList clearfix" ng-repeat="room in roomsArrayToBeFiltered | filter: searchTerm | orderBy:'-numberOfUsers'">
					<div class="pull-left">{{room.room}}&nbsp<span class="badge">{{room.numberOfUsers}}</span></div>
					<button ng-hide="rooms[room.room].userIsParticipating" ng-click="joinRoom(room.room)" class="btn btn-primary btn-xs pull-right">Join</button>
					<button ng-show="rooms[room.room].userIsParticipating" ng-click="leaveRoom(room.room)" class="btn btn-danger btn-xs pull-right">Leave</button>
				</div>
			</div>
			<input style="width: 100%;" placeholder='Search for a room' ng-model='searchTerm' class="form-control"/>
		</div>
		<div class= "col-sm-6">
			<h4>Room Messages</h4>
			<ul ng-show="activeRooms.length" class="nav nav-tabs">
				<li role="presentation" ng-repeat="room in activeRooms" ng-class="{active : $index === selectedActiveRoomIndex}" ng-click="selectActiveRoom($index)">
					<a>
						<span>{{room}}&nbsp</span>
						<button ng-click="leaveRoom(room)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</a>
				</li>
			</ul>
			<div id="roomMessagesBox" class="overflowable">
				<div class="message clearfix" ng-repeat='message in rooms[activeRooms[selectedActiveRoomIndex]].messages'>
					<div class="text-center"><small>{{message.dateSent | date: "EEE, MMM d, yy 'at' h:mm:ss a"}}</small></div> 
					<span ng-hide="message.self" class="clearfix"><small>{{message.senderName}}</small></span>
					<div ng-class="{'bubble': !message.self,'bubble-self':message.self}">{{message.message}}</div>
				</div>
			</div>
			<form ng-submit='sendRoomMessage(activeRooms[selectedActiveRoomIndex])' class="form-inline">
				<input style="width: 100%;" ng-model='roomMessageInput[activeRooms[selectedActiveRoomIndex]]' class="form-control" placeholder="Type message" ng-disabled="activeRooms.length === 0"/>
			</form>
		</div>
		<div class= "col-sm-2">
			<h4>Users</h4>
			<div class="btn-group btn-group-justified" role="group" ng-hide="activeRooms.length === 0" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn" ng-click="changeUsersList(0)" ng-class="{'btn-success':usersListOption===0,'btn-default':usersListOption===1}">All</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn" ng-click="changeUsersList(1)" ng-class="{'btn-success':usersListOption===1,'btn-default':usersListOption===0}">{{activeRooms[selectedActiveRoomIndex]}}</button>
				</div>
			</div>
			<div id="usersBox" class="overflowable">
				<button class="btn btn-default btn-xs" ng-repeat="user in displayedUsersList | filter : userFilter" ng-click="openPrivateMessage(user._id)"> {{user.name}} </button>
			</div>
			<input style="width: 100%;" placeholder='Search for a user' ng-model='userFilter.name' class="form-control"/>

		</div>
	</div>
	<!--Private Messages implementation-->
	<div class="privateMsgTabContainer">
		<div class="privateMsgTab pull-left" ng-repeat="(key,value) in private">
			<div ng-hide="value.isChatTabOpened" class="privateMsgTabHead">
				<div ng-click="value.isChatTabOpened = !value.isChatTabOpened">{{value.user.name}}</div>
				<button ng-click="closePrivateMessage(key)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>

			<div ng-show="value.isChatTabOpened" class="privateMsgTabContent">
				<div class="privateMsgTabContentHead bg-primary">
					<div ng-click="value.isChatTabOpened = !value.isChatTabOpened">{{value.user.name}}</div>
					<button ng-click="closePrivateMessage(key)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="privateMsgTabContentScrollable" id="{{key}}">
					<div class="message clearfix" ng-repeat='message in private[key].messages'>
						<div class="text-center"><small>{{message.dateSent | date: "EEE, MMM d, yy 'at' h:mm:ss a"}}</small></div> 
						<span ng-hide="message.self" class="clearfix"><small>{{message.senderName}}</small></span>
						<div ng-class="{'bubble': !message.self,'bubble-self':message.self}">{{message.message}}</div>
					</div>
				</div>
				<div>
					<form ng-submit='sendPrivateMessage(key)'> 
						<input ng-model="privateMessageInput[key]" class="form-control" placeholder="Type message"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</div>