<div ng-include="'templates/navbar.html'"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<h4>Rooms</h4>
			<form ng-submit='joinRoom(newRoom)' class="form-inline">
				<input style="width: 100%;" placeholder='Create room' ng-model='newRoom' class="form-control"/>
			</form>
			<div id="roomsBox" class="overflowable">
				<div class="roomsList clearfix" ng-repeat="(key, value) in rooms">
					<div class="pull-left">{{key}}&nbsp<span class="badge">{{value.users.length}}</span></div>
					<button ng-hide="value.userIsParticipating" ng-click="joinRoom(key)" class="btn btn-primary btn-xs pull-right">Join</button>
					<button ng-show="value.userIsParticipating" ng-click="leaveRoom(key)" class="btn btn-danger btn-xs pull-right">Leave</button>
				</div>
			</div>
		</div>
		<div class= "col-sm-6">
			<h4>Room Messages</h4>
			<ul ng-show="activeRooms.length" class="nav nav-tabs">
				<li role="presentation" ng-repeat="room in activeRooms" ng-class="{active : $index === selectedActiveRoomIndex}">
					<a>
						<span ng-click="selectActiveRoom($index)">{{room}}&nbsp</span>
						<button ng-click="leaveRoom(room)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</a>
				</li>
			</ul>
			<div id="roomMessagesBox" class="overflowable">
				<div class="message clearfix" ng-repeat='message in rooms[activeRooms[selectedActiveRoomIndex]].messages'> 
					<span ng-hide="message.self" class="clearfix">{{message.senderName}}</span>
					<div ng-class="{'bubble': !message.self,'bubble-self':message.self}">{{message.message}}</div>
				</div>
			</div>
			<form ng-submit='sendRoomMessage(activeRooms[selectedActiveRoomIndex])' class="form-inline">
				<input style="width: 100%;" ng-model='roomMessageInput[activeRooms[selectedActiveRoomIndex]]' class="form-control" placeholder="Type message here" ng-disabled="activeRooms.length === 0"/>
			</form>
		</div>
		<div class= "col-sm-2">
			<h4>Users</h4>
			<div id="usersBox" class="overflowable">
				<button class="btn btn-default btn-xs" ng-repeat='user in rooms[activeRooms[selectedActiveRoomIndex]].users' ng-click="openPrivateMessage(user.userID)"> {{user.userName}} </button>
			</div>
		</div>
	</div>
	<!--Private Messages implementation-->
	<div class="privateMsgTabContainer">
		<div class="privateMsgTab pull-left" ng-repeat="(key,value) in private">
			<div ng-hide="value.isChatTabOpened" class="privateMsgTabHead">
				<div ng-click="value.isChatTabOpened = !value.isChatTabOpened">{{value.user.name}}</div>
				<button ng-click="closePrivateMessage(key)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>

			<div ng-show="value.isChatTabOpened" class="privateMsgTabContent">
				<div class="privateMsgTabContentHead bg-primary">
					<div ng-click="value.isChatTabOpened = !value.isChatTabOpened">{{value.user.name}}</div>
					<button ng-click="closePrivateMessage(key)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="privateMsgTabContentScrollable" id="{{key}}">
					<div class="message clearfix" ng-repeat='message in private[key].messages'>
						<span ng-hide="message.self" class="clearfix">{{message.senderName}}</span>
						<div ng-class="{'bubble': !message.self,'bubble-self':message.self}">{{message.message}}</div>
					</div>
				</div>
				<form ng-submit='sendPrivateMessage(key)'> 
					<input ng-model="privateMessageInput[key]" class="form-control" placeholder="Type message here"/>
				</form>
			</div>
		</div>
	</div>
	
</div>